body{
    background-color: rgb(249, 213, 167);
}

.credencial{
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color:rgb(246, 215, 169);
    box-shadow:2px rgb(246, 215, 169);
}

header{
    text-align: center;
}


.img-credencial{
    width: 200px;
    display: block;
    margin: auto;
    border: 10px solid rgb(255, 255, 255);
}

.credencial-presentacion{
    width: 40%;
    display: flex;
    justify-content: center;
    margin:  auto;
}

hr{
    border: 1px solid black;
}

.credencial-text{

    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin:  auto;
}

.credencial-text h2{
    margin: 2px;
}

.credencial-text h3{
    margin: 2px;
}
